* {
  box-sizing: border-box;
}

//トップ表示//
header {
  width: 100%;
  height: 100%;
  .header__top {
    height: 80px;
    display: flex;
    background-color: black;
    .header__top__left {
      padding: 20px 61px;
    }
    .header__top__right{
      margin: 0 63px;
      .post{
        color: orange;
        text-decoration: none;
        font-size: 18px;
        font-family: arial black;
        line-height: 80px;
        border: 1px solid orange;
        padding: 5px 5px;
        margin: 0 370px;
      }
      .registration{
        color: pink;
        text-decoration: none;
        font-size: 18px;
        font-family: arial black;
        line-height: 80px;
        border: 1px solid pink;
        padding: 5px 5px;
        margin: 0 10px;
      }
    }
  }
  .header__navbar {
    height: 60px;
    background-color: gray;
  }
}

.contents {
  height: 100vh;
  width: 100vw;    
  margin: 30px 0;
  .post-list {
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
    background: linear-gradient(transparent 20%, pink 50%);
  }
  .content__image {
    margin: 0 auto;
    height: 400px;
    width: 700px;
    background-size: cover;
    .content__image__name {
      color: black;
      background-color: white;
      font-size: 20px;
      padding: 5px 5px;
      border: 1px solid black;
      a {
        color: black;
        background-color: white;
        font-size: 20px;
        padding: 5px 5px;
        text-decoration: none;
      }
    }
    .action {
      padding: 0 0;
      margin: 0 0;
      ul {
        img {
          margin: 2px 650px;
          background-color: black;
          }
        }
        li {
          margin: 1px 0;
          padding: 7px 0;
          a {
            text-decoration: none;
            background-color: black;
            border-radius: 5px;
            color: orange;
            font-size: 10px;
            font-family: arial black;
            cursor: pointer;
            margin: 0 630px;
            padding: 10px 10px;
            opacity: .10;
          }
          a:hover{
            background-color:black;
            color: orange;
            opacity: .7;
          }
        }
      }
    }
  .content__text {
    height: 70px;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-top: 306px;
    border: 3px solid #FF773E;
    margin-bottom: 50px;
  }
}

.container {
  margin: 20px 0;
  padding: 20px;
  form {
    margin-top: 0;
    h3 {
      text-align: center;
      font-size: 50px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin: 10px 0 20px 0;
    }
    .text-name {
      height: 40px;
      width: 500px;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
      border: 1px solid black;
    }
    .text-image {
      height: 40px;
      width: 500px;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
      border: 1px solid black;
    }
    .input,textarea {
      height: 200px;
      width: 500px;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      border: 1px solid black;
    }
    .btn {
      height: 60px;
      width: 500px;
      margin: 0 auto;
      border-radius: 5px;
      display: block;
      text-align: center;
      background-color: black;
      color: orange;
      font-size: 20px;
      font-family: arial black;
      cursor: pointer;
      border: 5px solid orange;
    }
  }
  h2 {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 0 20px 0;
  }
  .new_user {
    margin: 30px 0;
    .field {
      height: 40px;
      width: 500px;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
      #user_nickname {
        height: 40px;
        width: 500px;
        margin: 0 auto;
        border: 1px solid black;
      }
      #user_email {
        height: 40px;
        width: 500px;
        margin: 0 auto;
        border: 1px solid black;
      }
      #user_password {
        height: 40px;
        width: 500px;
        margin: 0 auto;
        border: 1px solid black;
      }
      #user_password_confirmation {
        height: 40px;
        width: 500px;
        margin: 0 auto;
        border: 1px solid black;
      }
    }
    .actions {
      width: 500px;
      margin: 0 auto;
      display: block;
      .submit {
        height: 60px;
        width: 500px;
        margin: 0 auto;
        border-radius: 5px;
        display: block;
        text-align: center;
        line-height: 50px;
        background-color: black;
        color: orange;
        font-size: 20px;
        font-family: arial black;
        cursor: pointer;
        border: 5px solid orange;
      }
    }
  }
}

.wrapper {
  margin: 150px 0;
  padding: 20px;
  .done {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 0 20px 0;
  }
  .btn-back {
    height: 60px;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: orange;
    font-size: 20px;
    font-family: arial black;
    cursor: pointer;
    border: 5px solid orange;
    text-decoration: none;
  }
}

//詳細ページ＋コメント//
.shows {
  height: 100vh;
  width: 100vw;    
  margin: 30px 0;
  .show__image {
    margin: 0 auto;
    height: 400px;
    width: 700px;
    background-size: cover;
    .show__image__name {
      color: black;
      background-color: white;
      font-size: 20px;
      padding: 5px 5px;
      border: 1px solid black;
      a {
        color: black;
        background-color: white;
        font-size: 20px;
        padding: 5px 5px;
        text-decoration: none;
      }
    }
    .action {
      padding: 0 0;
      margin: 0 0;
      ul {
        img {
          margin: 2px 650px;
          background-color: black;
          }
        }
        li {
          margin: 1px 0;
          padding: 7px 0;
          a {
            text-decoration: none;
            background-color: black;
            border-radius: 5px;
            color: orange;
            font-size: 10px;
            font-family: arial black;
            cursor: pointer;
            margin: 0 630px;
            padding: 10px 10px;
            opacity: .10;
          }
          a:hover{
            background-color:black;
            color: orange;
            opacity: .7;
          }
        }
      }
    }
  .show__text {
    height: 70px;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-top: 300px;
    border: 3px solid #FF773E;
    margin-bottom: 50px;
  }
  .comment {
    margin: 120px 0;
    padding: 20px;
    .input,textarea {
      height: 60px;
      width: 700px;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      border: 3px solid #66ccff;
    }
    .comment-image {
      height: 40px;
      width: 700px;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
      border: 3px solid #66ccff;
    }
    .comment-btn {
      height: 60px;
      width: 700px;
      margin: 0 auto;
      border-radius: 5px;
      display: block;
      text-align: center;
      background-color: black;
      color: orange;
      font-size: 20px;
      font-family: arial black;
      cursor: pointer;
      border: 5px solid orange;
    }
    .strong {
      margin: 0 auto;
      border-bottom: 1px solid red;
      color: red;
      background: linear-gradient(transparent 20%, pink 50%);
      font-size: 30px;
      text-align: center;
    }
    .comments {
      margin: 100px 0;
      padding: 20px;
      h4 {
        text-align: center;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 10px 0 35px 0;
      }
      .comment-box {
        height: 70px;
        width: 700px;
        margin: 0 auto;
        color: black;
        border: 3px dotted #66ccff;
      }
        a {
          text-decoration: none;
          color: black;
        }
        img {
          margin: 0 450px;
          border: 3px dotted #66ccff;
        }
    }
  }
}

.posts {
  height: 100vh;
  width: 100vw;    
  margin: 30px 0;
  .post-list {
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
    background: linear-gradient(transparent 20%, pink 50%);
  }
  .post__image {
    margin: 0 auto;
    height: 400px;
    width: 700px;
    background-size: cover;
    .post__image__name {
      color: black;
      background-color: white;
      font-size: 20px;
      padding: 5px 5px;
      border: 1px solid black;
      a {
        color: black;
        background-color: white;
        font-size: 20px;
        padding: 5px 5px;
        text-decoration: none;
      }
    }
    .action {
      padding: 0 0;
      margin: 0 0;
      ul {
        img {
          margin: 2px 650px;
          background-color: black;
          }
        }
        li {
          margin: 1px 0;
          padding: 7px 0;
          a {
            text-decoration: none;
            background-color: black;
            border-radius: 5px;
            color: orange;
            font-size: 10px;
            font-family: arial black;
            cursor: pointer;
            margin: 0 630px;
            padding: 10px 10px;
            opacity: .10;
          }
          a:hover{
            background-color:black;
            color: orange;
            opacity: .7;
          }
        }
      }
    }
  .post__text {
    height: 70px;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-top: 228px;
    border: 3px solid #FF773E;
    margin-bottom: 50px;
  }
}